.input-container{
    width: 100%;
    display: flex;
    justify-content: center;
    position:fixed;
    top:5%;

}

.input-form {
    box-sizing: border-box;
    display: flex;
    padding: 60px 5px;
    justify-content: space-around;
    flex-direction: column;
    width: 30%;
    height: 25vh;
    box-shadow: 0 0 5px #000;
    background: lightblue;
}